# Python
__pycache__/
*.pyc
*.pyo
venv/
env/
.env
*.egg-info/

# Node
node_modules/
dist/
.vite/

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Cpolar / tools
cpolar*